<h1>Edit Profile</h1>
<hr>
<%= form_for @user do |f| %>
<%= f.label :email %>
<%= f.email_field :email, placeholder:"email@example.com", class:"form-control", autofocus:true %>
<br>
<%= f.submit "Save Profile", class: "btn btn-block btn-info" %>
<% end %>
